# Core web framework
Flask==3.0.3
python-dotenv>=1.0.0
requests==2.32.0
httpx==0.27.0
pydantic==2.5.0
gunicorn==21.2.0
beautifulsoup4==4.12.3
lxml==5.2.2

# ML / Recommender system
lightfm @ git+https://github.com/lyst/lightfm.git@master 
scikit-learn
scipy
pandas
numpy

# AI integrations
groq
sentence-transformers==2.7.0

psycopg2-binary
SQLAlchemy==2.0.25
